@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


.Formulario-General{
    background-image: url("https://cdn7.dissolve.com/p/D1234_4_639/D1234_4_639_1200.jpg")
}

.Header-Formulario{
    font-family: 'Anton', 'sans-serif';
    color: black;
    font-style: italic;
}
.labels{
    font-family: 'Anton', 'sans-serif';
    color: rgb(255, 255, 255);
    text-shadow: 4rem,3rem,2rem black;
}

.inputNombres{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputApellidos{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputCorreo{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputCedula{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputCelular{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputDireccion{
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    display: block;
}

.inputContraseña{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}