@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');



.Formulario-General{
    background-image: url("https://cdn7.dissolve.com/p/D1234_4_639/D1234_4_639_1200.jpg")
}

.Header-Formulario{
    font-family: 'Anton', 'sans-serif';
    color: #fcfcfc;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(0, 0, 0);
    font-size: 45px
}
.labels{
    font-family: 'Anton', 'sans-serif';
    color: rgb(255, 255, 255,);
    text-shadow: 0 0 2px rgb(2, 0, 112);
    font-size: 15px;
}

.inputNombres{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputApellidos{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputCorreo{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputCedula{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputCelular{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}

.inputDireccion{
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    display: block;
}

.inputContraseña{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    display: block;
}